/*anchor elemets*/
body
{
  overflow-x: hidden;
}
*
{
  padding: 0;
  margin: 0;
  text-align:center;
}
.bottom > a
{
  text-decoration: none;
  color:#fff;
}
.bottom > a:hover
{
  text-decoration: none;
  color:#fed136;
}
footer
{
text-align:center
}
footer span.copyright
  {
    line-height:40px;
  }
  footer ul.quicklinks
  {
    margin-bottom:0;
    line-height:40px;
    }
    
.list-inline > li > a
{
  text-decoration: none;
  color: #656565!important;
}
span#copyright
{
  text-align:center;
  margin-top: 2%;
  color: #000;
}
link:link{
  text-decoration: none;
  font-size: 2.425rem;
}
.htitle > a
{
  text-decoration:none;
  color: rgba(255, 255, 255, 1);
   text-shadow: 5px 8px 10px #222;
}
.breadcrumb
{
  background-color: #fff;
}
.nav li a:focus
{
  color:#F1E011; 
}
.nav li a
{
  font-family: "Roboto",Helvetica,Arial,sans-serif;
  font-weight:300;
  font-size: 16px;
  letter-spacing:1px;
  color:#444 !important;

  border-bottom: 3px solid transparent;
}
.nav li a:hover
{
  border-bottom: 3px solid #E35205;
  color: #E35205;

}
.navbar-default .nav li a:hover,.navbar-default .nav li a:active
{
  color:#E35205;
  outline:0;
  }
.navbar-default .navbar-nav>.active>a
{
  border-radius:0;color:#fff;background-color:#fed136;
}
.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus
{
  color:#fff;background-color:#fec503;
}
.navbar-toggle
{
  border-radius: 50%;
  background-color:#fec503 transparent;
}
.carousel
{
  margin-top: -18px;
}
li
{
  padding: 3px;
}
.icon-bar
{
  padding-bottom: 5px;
  background-color: #fec503;
  color: #fec503;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fec503;
}
.navbar-default .navbar-toggle .icon-bar:hover {
   background-color:#fec503 transparent;
}
#navbar
{
  margin-top: -5px;
  background-color: #fff;

}
.htitle {  
  font-size: 4.1rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-align:center;
  font-weight: normal;
  text-shadow: 5px 8px 10px #222; 
  font-family: 'Lobster', cursive;
  background-color: #000;
  border-bottom: 5px solid #ffa949; 
  width: 100%;
  margin-top: -1px;
}
input.form-control
{
  height: 50px;
}
.info_sec
{
  display: inline-block;
}
p.center > a 
{
  text-decoration: none;
}
p.center
{
  display: inline-block;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 2px;
}
#ico{
  padding-left: 5px;
}
.icon_box
{
  display: inline-block;
}
.form-group{margin-bottom:25px
  }
  section{padding:20px}
  .btn-sm{
  color:#fff;
  background-color:#fed136;
  border-color:#fed136;
  text-transform:uppercase;
  font-weight:300;
  border-radius:5px;
  font-size:14px;
  padding:10px 20px
}
 form
{
  background-color: #fff;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 2%;
}.heading
{
  background-color: #fff;
  font-size: 20px;
  color: #000;
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
  margin-left: 4%;
    box-shadow: rgba(6, 6, 6, 0.0980392) 1px 1px 25px;

}
.customrow
{
    box-shadow: rgba(6, 6, 6, 0.0980392) 1px 1px 25px;

}
.section-heading
{
  background-color: #fff;
  font-size: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #000;
  box-shadow: rgba(6, 6, 6, 0.0980392) 1px 1px 25px;
}
.section-heading1
{
  background-color: #fff;
  font-size: 30px;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #000;
  box-shadow: rgba(6, 6, 6, 0.0980392) 1px 1px 25px;
}
.form-group
{
  padding-right: 2%;
}
#info{
  background-color: #fff;
  margin-left: 4%;
    box-shadow: rgba(6, 6, 6, 0.0980392) 1px 1px 25px;

}
.fa
{
  display: inline-block;
}
/*corousal*/
.carousel
{
  height: 500px;
  margin-bottom: 2%;
}
.carousel .item
{
  height: 100%;
    opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
 .carousel-inner .active {
  opacity: 1;
}

.carousel-inner
{
  height: 100%;
}
.carousel-inner > .item > img
{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;

}
.carousel-inner .active.left,
.carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-inner .next.left,
.carousel-inner .prev.right {
  opacity: 1;
}
 .carousel-control {
  z-index: 2;
}
/*corousal*/
.socials {
  font-size: 1.4em;
    color: #fff;
    display: inline-block;
    margin: 0 .5em;
    text-align: left;
    color: #000;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.social
{
  margin: 1.1em 0px;
  text-align: center;
}
.social a:hover {
      webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25);
}
.shake:hover
{
   webkit-transform: scale(1.30);
        -moz-transform: scale(1.30);
        -o-transform: scale(1.30);
        transform: scale(1.30);
        -webkit-transition:-webkit-transform .6s ease-in-out;
        transition:transform .6s ease-in-out;
        -moz-transition:-moz-transform .6s ease-in-out;
        -ms-transition:-ms-transform .6s ease-in-out;
        
}
.custom
{
  color: #656565 !important;
}
textarea
{
  resize:none;
}
/*table*/
.customtable
{
  margin: auto;
  min-width: 200px;
  border-collapse: collapse;
  color: #333;
  border-radius: .4em;
  overflow: hidden;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
.customtable tr:first-child
{
  border-top: none;
  background: #428bca;
  color:#fff;
}

.customtable tr
{
    border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  background-color: #f5f9fc;
  border-color: #bfbfbf;
margin-bottom: 1em;
}
.customtable tr:nth-child(odd):not(:first-child)
{
   background-color: #ebf3f9;
}
.customtable tr:last-child
{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.customtable th {
 display: none;
}
.customtable td{
  display: block;
}
.customtable td:first-child
{
  margin-top: 0em;
}
.customtable td:last-child
{
  margin-bottom: 0em;
}
.customtable td:before
{
  content: attr(data-th)":";
  font-weight: bold;
  width:120px;
  display: inline-block;
  color: #000;
}
.customtable th,.customtable td{
  text-align: left;
   padding: .5em 1em;

}

/*table ends*/
.mapsection
{
  position: relative;
    background-color: rgb(229, 227, 223);
    overflow: hidden;
    width: 100%;
    height: 300px;
    border: 0;
    margin: 20px 0;
}
.maps{
      position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 0;
    font-family: Roboto,Arial,sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none;
}
.book
{
  text-align: center;
  background-color: #fff;
  padding: 8px;
}
#book
{
  border:1px solid #000;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 30%;
  padding: 10px;
}
#services
{
  padding-top: 5px;
  margin-top: 10px;
}
/*facilities*/
#border
{
  padding: 1%;
  padding-top: 10px;
  border-bottom:8px solid #ffa949;
  background:linear-gradient(0deg, #D3D3D3, transparent);
}
.rand
{
  color:#ffa949;
  background-color:#fff;
  padding: 2%;
  font-family: 'Baloo Tamma',serif;
  font-size: 3.8rem;
}
.fa
{
  color: #000;
}
.random
{
  color: #000;
}
/*hotel quote*/
#quote
{
  padding: 3%;
  width:100%;
  background-image: url(../img/bg.png);
  border-bottom:8px solid #ffa949;
  height: 400px;
}
.quote1
{
  font-size: 2.2rem; /* 90px/16px  */  color: rgba(255, 255, 255, 1);
font-family: 'Bree Serif', serif;
font-weight:0.8px;
  
}
.quote1 p
{
   color: rgba(255, 255, 255, 1);
font-family: 'Bree Serif', serif;
letter-spacing: 2px;
font-weight:0.8px;
}
/*link to book*/
.button
{ 
  width:100;
  max-height:400px;
  min-height:200px;
  background-color: #EFECE1;
}
 /*footer*/
 h3
 {
   font-family: 'Baloo Tamma',serif;
 }
 h2
 {
  color:#fec503;
  padding: 2%;
  font-family: 'Baloo Tamma',serif;
  font-size: 3.8rem;
 }
 .but
 {
     color: #ffa949;
 }
 .but:hover
 {
  color:#E8BB03;
 }
#but >a
 {
  text-decoration: none;
 }
 .main-footer
 {
  border-bottom:6px solid #ffa949;
  background-color:#000;
  width:100%;
  max-height: 800px;
  min-height: 300px;
  padding: 4%; 
  text-align:center;
 }

.modificatio
{
  max-height: 100px;
  width:100%;
  background : #000 url('../img/logo1.png');
  text-align:right;
  font-size: 2rem;
}
p.sli_title 
{
color:#ffa949;
font-size: 3.625rem;
font-weight: normal;
text-shadow: 5px 8px 10px #222; 
font-family: 'Fjalla One', sans-serif;
}
/*contact form*/
.map{
  background: #D3D3D3;
  max-height: 400px;
  min-height: 200px;
  width:100%;
}
/*contact form*/
#main{
  color:white;
  display: none;
}
@media screen and (max-width: 750px)
{
   .carousel{
    height: 350px !important;
    margin: 0;
  }
.carousel-caption
{
font-size: 20px;
}

.carousel-inner > .item >img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 603px;
  height: 350px;

}
.htitle
{
  font-size: 2.2rem;
}
#himage
{
  width: 50px;
  height: 50px;
}
.quote1{
  font-size: 1.9rem;
}
h2
{
  font-size: 2.8rem;

}
.rand
{
  font-size: 2.9rem;

}
p.sli_title 
{
font-size: 2.5rem;
}
iframe
{
  width: 400px;
}
}
@media(min-width:768px)
{
  iframe
  {
    width: 600px;
    height: 300px;
  }
} 
@media(max-width: 500px)
{
  iframe
  {
    width: 250px;
  }
} 
}
@media(max-width:601px)
{
  .customtable tr:nth-child(2)
  {
    border-top: none;

  }
}

@media(min-width:601px)
{
  .customtable tr:hover:not(:first-child)
  {
    background-color: #d8e7f3; 
  }
  .customtable td:before{
    display: none;
  }
  .customtable{
    border: 1px solid #888;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
  .customtable th,.customtable td
  {
    display: table-cell;
    padding: .25em .5em;
  }
  .customtable th:first-child,.customtable td:first-child
  {
    padding-left: 0;
  }
  .customtable th:last-child,.customtable td:last-child
  {
    padding-right: 0;
  }
  .customtable th,.customtable td
  {
    padding: 1em !important;
  }
  table th ,table td{
     border: 1px solid #B3BFAA;
     padding: .5em 1em;
  }

}
@media(max-width:600px)
{
  .customtable tr,.customtable td {
    display: block;

  }
  .customtable tr:not(:first-child){
    position: relative;
    box-shadow: none;
     margin-bottom: 2em;
       }
      .customtable tr:first-child
      {
        margin: 0 !important;
      }
      .customtable
      {
           box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
           -ms-box-shadow:0 1px 10px rgba(0, 0, 0, 0.2);
           -moz-box-shadow:0 1px 10px rgba(0, 0, 0, 0.2);
      }
}
